<header>
	<div class="div-header">
		<img src="{{ asset('imagesdesign/couverture_bibliotheque.jpg') }}" alt="couverture du header" id="img-header">

		<h1>
			bibliotheque guinot
		</h1>
		<br>


	</div>


</header>
