{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="home-container">
		<h2 id="title-introduction">Bienvenue sur bibliotheque GUINOT
		</h2>

		<p id="introduction">
			Que vous soyez étudiant, professeur ou bien grand amoureux de littérature, si vous avez la certitude que la soif de connaissance ne pourra jamais s’étancher, que les pierres et la chaux qui vous permettra de battir un avenir solide se trouvent dans les livres, n’attendez plus et inscrivez vous gratuitement sur notre plateforme afin d’accéder à une multitude d’ouvrages.

		</p>

		</div>
	{% endblock %}
