.nav-footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    border: 1pt solid;
    padding-top: 3%;
    padding-bottom: 3%;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: 15%;
  }