table {
    width: 65%;
    border-collapse: collapse;
    border: 3px solid;
    margin-left: 18%;
    margin-top: 2%;
}

th,
td {
    padding: 20px;
    border: 1px solid;
    text-align: center;
}

th {
    background-color: navy;
    color: white;
}

h3 {
    text-align: center;
}

.create-new {
    padding-left: 18%;
    padding-bottom: 5pt;
}


header {
    width: 100%;
    background-color: black;
    color:white;
    
    }

#img-header {
    width: 100%;
    height: 380px;      
}


#introduction, #title-introduction {
    text-align: center;
    width: 30%;
    margin-left: 30%;
}
