<footer>
	<nav class="nav-footer">

		<a href="">a propos
		</a>
		<a href="">nous contacter
		</a>
		<a href="">accessibilité
		</a>
		<a href="">mentions légales
		</a>
		<a href="">nos partenaires
		</a>
	</nav>
</footer>
