<footer>
	<nav class="nav-footer">

		<a href="">A propos
		</a>
		<a href="">Nous contacter
		</a>
		<a href="">Accessibilité
		</a>
		<a href="">Mentions légales
		</a>
		<a href="">Nos partenaires
		</a>
	</nav>
</footer>
